* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color:  #050404 ;
  color: #cdb22b;
  height: 100vh;
  display: flex;
  justify-content: center;
}
header {
  text-align: center;
}

header > h1 {
  font-size: 2.5rem;
}
header > p {
  font-size: 1.25rem;
}
.game-status{
  background-color: green;
  padding: 5px 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  margin-block: 30px;
}
.game-status>h2{
  
  color: #f9f4da;
  font-weight: 600;
  margin-bottom: 10px;
}
.game-status>h4{
  margin-top: 0px;
  font-weight: 400;
  font-size: medium;
  padding-left: 15px;
}
.game-lang{
  padding: 60px;
  display:flex;
  flex-wrap: wrap;
  max-width: 600px;
  gap:5px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
span.lang-elem{
  border-radius:5px;
  padding :5px 10px;

}
.game-word{
    display: flex;
    justify-content: center;
    gap:5px;
    margin-bottom: 40px;
    
}
span.word-elem{
  width:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: rgb(11, 78, 22);
  color:rgb(55, 252, 0);
  border:1px rgb(49, 49, 49) solid;
  border-bottom: rgb(2, 121, 62) 2px solid;
}

.game-alphabet{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:40px;
  flex-wrap: wrap;
  gap:5px;
  max-width: 500px;
  /* margin-left:120px;doubtful reg this design choice */

}
.game-alphabet > button{
  height: 50px;
  width: 40px;
  gap:15px;
  border:none;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  background-color: rgb(7, 18, 79);
  color:rgb(232, 239, 28)
}
.new-game-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.new-game{
  border-radius: 3px;
  background-color: yellow;
  color:rgb(0, 0, 0);
  padding:15px 60px;
  cursor: pointer;
}