* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color:  #3a2705 ;
  color: #cdb22b;
  height: 100vh;
  display: flex;
  justify-content: center;
}
header {
  text-align: center;
}

header > h1 {
  font-size: 2.5rem;
}
header > p {
  font-size: 1.25rem;
}
.game-status{
  background-color: green;
  padding: 5px 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  margin-block: 30px;
}
.game-status>h2{
  
  color: #f9f4da;
  font-weight: 600;
  margin-bottom: 10px;
}
.game-status>h4{
  margin-top: 0px;
  font-weight: 400;
  font-size: medium;
  padding-left: 15px;
}
.game-lang{
  padding-left: 60px;
  display:flex;
  flex-wrap: wrap;
  max-width: 500px;
  gap:5px;
  align-items: center;
  justify-content: center;
}
span.elem{
  border-radius:5px;
  padding :5px 10px;

}